*{
    list-style-type: none;
    text-decoration: none !important;
}
.Navbar_container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100% !important;
    z-index: 100;
}
.nav_sec_one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2vh;
    background-color: rgb(20, 20, 20);
    color: ghostwhite !important;
    
}
.n_s_o_1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.n_s_o_1 *{
    margin-right: 15px;
    z-index: 100 !important;
    color: ghostwhite;    
}
.n_s_o_2{
    display: flex;
    align-items: center;
}
.n_s_o_2 *{
    margin-right: 15px;
    z-index: 100 !important;
    color: ghostwhite;    
}
.nav_sec_two{
    background-color: rgba(22, 22, 22, 0.8);
    width: 100% !important;
    height: 80px;
}
.nav_sec_two ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0) !important;
}
.nav_sec_two ul li{
    width: fit-content;
    color: ghostwhite !important;
    margin-right: 2%;
    font-size: 1.2rem;
    
}
.nav_sec_two .navlink{
    color: ghostwhite;
    padding-bottom: 5px;
    border: 3px solid transparent;
}
.nav_sec_two ul li .active{
    border-bottom: 3px solid ghostwhite;
}